.logo-wrapper img {
    width: 100px;
}
.nav-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
  
.nav-wrapper  li {
    float: left;
}
  
.nav-wrapper  li a {
    display: block;
    padding: 8px;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    visibility: hidden;
    position: absolute;
}
.dropdown-content a { 
    color: #222222;
}
.dropdown-content a:hover {
    text-decoration: none;
}
.dropdown:hover .dropdown-content{
    visibility: visible;
}
